
.navbar.topbar{
  background: #FFFFFF;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.topbar {
  z-index: 1030;
}
.topbar .btn.me-2{
  width: 75px;
}

.topbar .account-dropdown{
  margin-right: 2em;
}

.topbar .account-dropdown .dropdown-menu-end{
  right: 2em
}

.topbar .navbar .nav-link {
  margin-right: 15px;
}
