<header>
  <nav class="topbar navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-between w-100">
        <div class="d-flex align-items-center">
          <a class="btn me-2" type="button" (click)="toggleSidebar()">
            <span>
              <div class="menu">
                <svg width="24" height="24" viewBox="0 0 100 100">
                  <path class="line color-gr top" d="M 20,30 H 80"></path>
                  <path class="line color-gr middle" d="M 20,50 H 80"></path>
                  <path class="line color-gr bottom" d="M 20,70 H 80"></path>
                </svg>
              </div>
            </span>
          </a>
          <img
            src="../../../assets/img/beacon-logo.svg"
            alt="Logo"
            width="30"
            height="30"
            class="d-inline-block align-top"
          />
          <span class="ms-2">Beacon</span>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/beacon'" (click)="goTo()"
                >Inicio</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="'/beacon/help-center'"
                (click)="goTo()"
                >Centro de ayuda</a
              >
            </li>
          </ul>
        </div>
        <div class="account-dropdown">
          <a
            class="dropdown-toggle"
            href="#"
            id="perfilDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Cuenta
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="perfilDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                [routerLink]="'/beacon/configuration/account'"
                (click)="goTo()"
                >Perfil</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="'/beacon/configuration/'"
                (click)="goTo()"
                >Configuraciones</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="'/beacon/help-center'"
                (click)="goTo()"
                >Ayuda</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
