<section class="content-display">
  <div class="container-display shadow-sm">
    <div class="container-fluid">
      <div class="text-container">
        <h1>Calculadoras</h1>
        <span class="rectangle"></span>
        <p>
          En la sección de Calculadoras, encontrarás herramientas precisas y
          fáciles de usar para gestionar tus finanzas. Ya sea que necesites
          calcular tus ahorros, planificar pagos de deudas, estimar préstamos o
          crear presupuestos, nuestras calculadoras están diseñadas para
          ayudarte a tomar decisiones financieras informadas. Simplifica la
          gestión de tu dinero con estas útiles herramientas, disponibles
          siempre que las necesites.
        </p>
        <div class="btn-container" role="group" aria-label="Configuraciones">
          @for (route of permittedRoutes; track $index) { @if (route.data &&
          route.data['showInHeading']) {
          <button
            type="button"
            class="btn btn-primary"
            routerLinkActive="active"
            routerLink="{{ route.path }}"
          >
            {{ route.data["name"] }}
          </button>
          } }
        </div>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
