<div class="beacon config">
  <app-navbar></app-navbar>
  <section class="configuration" style="margin-top: 76px; margin-bottom: 4em">
    <div class="titling">
      <div class="container-fluid max-w-1440">
        <div class="text-container">
          <h1>Configuraciones</h1>
          <span class="rectangle"></span>
          <p>
            En el módulo de Configuraciones, puedes gestionar y personalizar tu
            experiencia con facilidad. Aquí puedes editar opciones de cuenta,
            actualizar métodos de pago, revisar el historial de transacciones,
            ajustar notificaciones y cambiar tu contraseña. Todo esto se
            encuentra en un solo lugar, proporcionando conveniencia y seguridad.
          </p>
        </div>
      </div>
    </div>
    <app-configs></app-configs>
  </section>

  <app-footer></app-footer>
</div>
