<section class="content-display">
    <div class=" container-display">
        <div class="container-fluid">
            <div class="text-container">
                <h1 class="h1">Videos Interactivos</h1>
                <span class="rectangle mt-2"></span>
                <p>
                    Sumérgete en el mundo de las finanzas con nuestros videos interactivos. ¡No solo mires, sino participa! Responde preguntas, elige opciones y crea tu propio camino hacia la libertad financiera.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="content-display configuration mb-4">
    <div class="container-display">
        <div class="container-fluid">
            <div class="row d-flex align-items-center justify-content-between">
        <div class="col-md-4 d-flex justify-content-center mb-2 mb-md-0">
            <h4 >Tu tarjeta de crédito ideal</h4>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            Obtendras una recomendación personalizada que te ayudara a escoger una tarjeta de credito que se adapte a ti.
        </div>
        <div class="btn-container col-md-2 d-flex justify-content-center justify-content-md-end mb-2 mb-md-0">
            <button (click)="continue()" class="btn btn-primary mt-2">Comenzar</button>
        </div>
    </div>
        </div>
    </div>
</section>