<article class="access-point">
  <div class="container access">
    <div class="login-box">
      <div class="loading-screen" *ngIf="loading">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="text-center mb-4">
        <img src="assets/img/beacon-logo.svg" alt="Logo" class="login-logo">
        <h1 class="title">¿Has olvidado la contraseña?</h1>
        <p>Introduce el correo electrónico de tu cuenta.</p>
      </div>
      <form [formGroup]="formRecuperarContrasenaDirective" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <input type="email" formControlName="email" 
                 [ngClass]="{'error': email?.touched && email?.errors}" 
                 class="form-control" 
                 placeholder="Dirección de correo electrónico">
          <p class="error-message" id="email-helper-text">
            <span *ngIf="email?.touched && email?.errors?.['required']">
              Por favor, ingrese un correo electrónico.
            </span>
            <span *ngIf="email?.touched && email?.errors?.['email']">
              Debe ser un correo electrónico válido.
            </span>
          </p>
        </div>
        <div *ngIf="errorMessage" class="error-tag mb-4">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="formRecuperarContrasenaDirective.invalid">Enviar</button>
      </form>
      <div class="additional-links">
        <div class="first">
          <p>¿Recuerdas tu contraseña?</p>
          <a [routerLink]="'/beacon/login'">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>
</article>
