<div class="change-password position-relative">
  <div class="option-container">
    <h2>Cambiar Contraseña</h2>
    <p>Gestionar los datos de tu cuenta.</p>

    <div class="alert alert-info d-flex align-items-center" role="alert">
      <i class="fas fa-info-circle mr-2"></i>
      <span
        >Si modificas la contraseña se cerrará tu sesión y deberás iniciar
        sesión con tu nueva contraseña.</span
      >
    </div>

    <h3>Actualizar Contraseña</h3>

    <div
      *ngIf="loading"
      class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-light bg-opacity-75"
      style="z-index: 1000; display: none"
    >
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
      <div class="d-flex flex-column col col-lg-6">
        <div class="form-control-custom w-100">
          <label for="currentPassword">Contraseña Actual</label>
          <div>
            <input
              class="form-control"
              id="currentPassword"
              name="currentPassword"
              type="password"
              [(ngModel)]="changePasswordRequest.currentPassword"
              #currentPassword="ngModel"
              placeholder="Contraseña Actual"
              required
              minlength="8"
              [ngClass]="{
                error:
                  currentPassword.invalid &&
                  (currentPassword.dirty || currentPassword.touched)
              }"
            />
          </div>
        </div>

        <div class="form-control-custom w-100">
          <label for="newPassword">Nueva Contraseña</label>
          <div>
            <input
              class="form-control"
              id="newPassword"
              name="newPassword"
              type="password"
              [(ngModel)]="changePasswordRequest.newPassword"
              #newPassword="ngModel"
              placeholder="Nueva Contraseña"
              required
              minlength="8"
              [ngClass]="{
                error:
                  newPassword.invalid &&
                  (newPassword.dirty || newPassword.touched)
              }"
              (input)="onNewPasswordInput()"
            />
          </div>
        </div>

        <div class="form-control-custom w-100">
          <label for="confirmPassword">Confirmar Nueva Contraseña</label>
          <div>
            <input
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              type="password"
              [(ngModel)]="changePasswordRequest.confirmPassword"
              #confirmPassword="ngModel"
              placeholder="Confirmar Nueva Contraseña"
              required
              minlength="8"
              [ngClass]="{
                error:
                  (confirmPassword.dirty || confirmPassword.touched) &&
                  (confirmPassword.invalid ||
                    confirmPassword.value !== changePasswordRequest.newPassword)
              }"
              [disabled]="!changePasswordRequest.newPassword"
            />
          </div>
        </div>
      </div>

      <div class="btn-container col col-lg-3 mb-3">
        <button
          type="submit"
          class="btn primary w-100"
          [disabled]="
            changePasswordForm.invalid ||
            changePasswordRequest.newPassword !== confirmPassword.value
          "
        >
          Guardar Cambios
        </button>
      </div>

      <div
        *ngIf="showErrorTag(currentPassword, newPassword, confirmPassword)"
        class="error-tag mb-4"
      >
        <h3>Verifique la Información</h3>
        <span
          *ngIf="currentPassword.errors?.['required'] && (currentPassword.dirty || currentPassword.touched)"
          class="text-white"
        >
          Contraseña actual es requerida.
        </span>
        <span
          *ngIf="currentPassword.errors?.['minlength'] && (currentPassword.dirty || currentPassword.touched)"
          class="text-white"
        >
          Contraseña debe tener al menos 8 caracteres.
        </span>
        <span
          *ngIf="newPassword.errors?.['required'] && (newPassword.dirty || newPassword.touched)"
          class="text-white"
        >
          Nueva contraseña es requerida.
        </span>
        <span
          *ngIf="newPassword.errors?.['minlength'] && (newPassword.dirty || newPassword.touched)"
          class="text-white"
        >
          Nueva contraseña debe tener al menos 8 caracteres.
        </span>
        <span
          *ngIf="confirmPassword.errors?.['required'] && (confirmPassword.dirty || confirmPassword.touched)"
          class="text-white"
        >
          Confirmar nueva contraseña es requerida.
        </span>
        <span
          *ngIf="confirmPassword.errors?.['minlength'] && (confirmPassword.dirty || confirmPassword.touched)"
          class="text-white"
        >
          Confirmar nueva contraseña debe tener al menos 8 caracteres.
        </span>
        <span
          *ngIf="
            confirmPassword.dirty &&
            confirmPassword.value !== changePasswordRequest.newPassword
          "
          class="text-white"
        >
          Las contraseñas no coinciden.
        </span>
      </div>
    </form>
  </div>
</div>
