<article class="access-point">
  <div class="container access">
    <div class="login-box">
      <div class="text-center mb-4">
        <img src="assets/img/beacon-logo.svg" alt="Logo" class="login-logo">
        <h1 class="title">Restablecer la Contraseña</h1>
        <p>Introduce tu nueva contraseña.</p>
      </div>
      <form [formGroup]="formNuevaContrasenaDirective" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <input type="password" formControlName="newPassword" 
                 [ngClass]="{'error': newPassword?.touched && newPassword?.errors}" 
                 class="form-control" 
                 placeholder="Nueva contraseña">
          <p class="error-message" id="newPassword-helper-text">
            <span *ngIf="newPassword?.touched && newPassword?.errors?.['required']">
              Por favor, ingrese una contraseña.
            </span>
            <span *ngIf="newPassword?.touched && newPassword?.errors?.['minlength']">
              La contraseña debe tener al menos 8 caracteres.
            </span>
          </p>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="formNuevaContrasenaDirective.invalid">
          Restablecer
        </button>
      </form>
      <div class="additional-links">
        <div class="first">
          <p>¿Recordar contraseña?</p>
          <a [routerLink]="'/beacon/login'">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>
</article>