$bcn-primary-color: #03B9AB;
$bcn-black-color: #000000;
$bcn-white-color: #FFFFFF;
$bcn-gray-color: #F2F2F2;

.color-box-title {
    background-color: #03B9AB;
    width: 3vh;
    height: 0.5vh;
    margin: 1% 0px 1% 0px;
}

.bottom-space {
    margin-bottom: 1%;
}